/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

/*@font-face {
    font-family: 'Roboto';
    src: url('webfontkit/Roboto-Regular-webfont.eot');
    src: url('webfontkit/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/Roboto-Regular-webfont.woff') format('woff'),
         url('webfontkit/Roboto-Regular-webfont.ttf') format('truetype'),
         url('webfontkit/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Italic';
    src: url('webfontkit/Roboto-Italic-webfont.eot');
    src: url('webfontkit/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/Roboto-Italic-webfont.woff') format('woff'),
         url('webfontkit/Roboto-Italic-webfont.ttf') format('truetype'),
         url('webfontkit/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto Bold';
    src: url('webfontkit/Roboto-Bold-webfont.eot');
    src: url('webfontkit/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/Roboto-Bold-webfont.woff') format('woff'),
         url('webfontkit/Roboto-Bold-webfont.ttf') format('truetype'),
         url('webfontkit/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Bold Italic';
    src: url('webfontkit/Roboto-BoldItalic-webfont.eot');
    src: url('webfontkit/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('webfontkit/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('webfontkit/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto Thin';
    src: url('webfontkit/Roboto-Thin-webfont.eot');
    src: url('webfontkit/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/Roboto-Thin-webfont.woff') format('woff'),
         url('webfontkit/Roboto-Thin-webfont.ttf') format('truetype'),
         url('webfontkit/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Thin Italic';
    src: url('webfontkit/Roboto-ThinItalic-webfont.eot');
    src: url('webfontkit/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('webfontkit/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('webfontkit/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); 
    font-weight: 200;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto Light';
    src: url('webfontkit/Roboto-Light-webfont.eot');
    src: url('webfontkit/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/Roboto-Light-webfont.woff') format('woff'),
         url('webfontkit/Roboto-Light-webfont.ttf') format('truetype'),
         url('webfontkit/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Light Italic';
    src: url('webfontkit/Roboto-LightItalic-webfont.eot');
    src: url('webfontkit/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/Roboto-LightItalic-webfont.woff') format('woff'),
         url('webfontkit/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('webfontkit/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto Medium';
    src: url('webfontkit/Roboto-Medium-webfont.eot');
    src: url('webfontkit/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/Roboto-Medium-webfont.woff') format('woff'),
         url('webfontkit/Roboto-Medium-webfont.ttf') format('truetype'),
         url('webfontkit/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Medium Italic';
    src: url('webfontkit/Roboto-MediumItalic-webfont.eot');
    src: url('webfontkit/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('webfontkit/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('webfontkit/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}*/

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    background: #222222;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #efefef;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #ff6f6f;
}

header .logo a {
	background-image: url("../images/logo.png");
	background-size: 100px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width: 111px;
	text-indent: -999999px;
	position: relative;
    top: -15px;
}

li:first-child {
    float: left; 
}

li {
    display: inline-block;
    padding-right: 7%;
    margin: 10px 0 0 0;
    font-size: 36px;
}

.topnav {
    list-style: none;
    font-family: 'Roboto Thin';
    color: aliceblue;
    margin: 50px 0 0 0;
    text-align: right;
}

section header {
    margin-top: 0px;
    font-family: 'Roboto Thin';
    font-size: 62px;
    margin-bottom: 20px;
}

.home {
    margin-top: 220px;
}

.games {
    margin-top: 20px;
}

section {
    text-align: center;
    padding: 8%;
}

section nav {
    font-family: 'Roboto Thin';
    font-size: 36px;
    line-height: 55px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

section .mybutton {
    font-family: 'Roboto';
    font-size: 24px;
    border: 2px solid black;
    border-color: #dd4a4a;
    color: whitesmoke;
    background-color: #222222;
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 5px;
}

.features {
	color: gray;
	padding: 20px;
	display: flex;
    flex-direction: row;
    position: relative;
    top: -90px;
}

.features figure {
    margin: auto;
    padding: 5px;
	text-align: center;
    width: 300px;
}

.features figure img {
	border-radius: 10%;
	width: 250px;
	height: 250px;
}

figure img:hover {
    filter: brightness(0.7);
}

figure figcaption {
    font-family: 'Roboto Black';
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 100px;
}

figure figcaption a:hover {
    color: gray;
}

section .mybutton:hover{
    background: #dd4a4a;
    color: whitesmoke;
    /*font-size: 25px;
    margin-top: 29px;*/
}

.par {
    margin-top: 500px;
    height: 650px;
}

footer {
    font-family: 'Roboto Thin';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}

.card {
    color:rgb(160, 160, 160);
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Roboto';
    font-size: 19px;
    border-radius: 10%;
}
.card button {
    padding: 12px;
    border: 2px solid #dd4a4a;
    color: whitesmoke;
    background-color: #222222;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    outline: 0;
}
  
.card button:hover {
    background: #dd4a4a;
    color: whitesmoke;
}

.weirdbutton a{
    margin-left: 0%;
}

.socialmedias{
    font-size: 30px; 
    margin: 5px;
}

@media screen and (max-width: 1140px) {
    section nav {
        font-family: 'Roboto Thin';
        font-size: 28px;
        line-height: 36px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 28px;
    }

    .features {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -40px;
    }

    .features figure img {
        border-radius: 10%;
        width: 200px;
        height: 200px;
    }    

    figure figcaption {
        font-family: 'Roboto Black';
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 760px) {
    .weirdbutton a{
        margin-right: 10%;
    }
    .features {
        display: block;
    }

    li {
        font-size: 24px;
    }

    section header {
        font-size: 42px;
    }

    .games {
        margin-top: 50px;
    }

    .features figure:first-child {
        padding-top: 100px;
    }

    section nav {
        font-size: 16px;
        line-height: 36px;
    }

    footer {
        font-size: 16px;
    }
    header .logo a {
        height: 60px;
	    width: 80px;
        background-size: 70px;
    }

}

@media screen and (max-width: 650px) {
    .weirdbutton a{
        margin-right: 10%;
    }
    li {
        font-size: 20px;
    }

    section nav {
        font-size: 20px;
        line-height: 26px;
    }

    section .mybutton {
        font-size: 18px;
    }

    section .mybutton:hover {
        background: #dd4a4a;
        color: whitesmoke;
        /*font-size: 20px;
        margin-top: 29px;*/
    }
    iframe{
        width: fit-content;
        height: fit-content;
    }
}