/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    background: #222222;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #efefef;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #ff6f6f;
}

header .logo a {
	background-image: url("../images/logo.png");
	background-size: 100px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width: 111px;
	text-indent: -999999px;
	position: relative;
    top: -15px;
}

li:first-child {
    float: left; 
}

li {
    display: inline-block;
    padding-right: 7%;
    margin: 10px 0 0 0;
    font-size: 36px;
}

.topnav {
    list-style: none;
    font-family: 'Roboto Thin', Arial, sans-serif;
    color: aliceblue;
    margin: 50px 0 0 0;
    text-align: right;
}

section header {
    margin-top: 0px;
    font-family: 'Roboto Thin', Arial, sans-serif;
    font-size: 62px;
    margin-bottom: 20px;
}

.home {
    margin-top: 220px;
}

.games {
    margin-top: 20px;
}

section {
    text-align: center;
    padding: 8%;
}

section nav {
    font-family: 'Roboto Thin', Arial, sans-serif;
    font-size: 36px;
    line-height: 55px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

section .mybutton {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 24px;
    border: 2px solid black;
    border-color: #dd4a4a;
    color: whitesmoke;
    background-color: #222222;
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 5px;
}

.features {
	color: gray;
	padding: 20px;
	display: flex;
    flex-direction: row;
    position: relative;
    top: -90px;
}

.features figure {
    margin: auto;
    padding: 5px;
	text-align: center;
    width: 300px;
}

.features figure img {
	border-radius: 10%;
	width: 250px;
	height: 250px;
}

figure img:hover {
    filter: brightness(0.7);
}

figure figcaption {
    font-family: 'Roboto Black';
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 100px;
}

figure figcaption a:hover {
    color: gray;
}

section .mybutton:hover{
    background: #dd4a4a;
    color: whitesmoke;
    /*font-size: 25px;
    margin-top: 29px;*/
}

.par {
    margin-top: 500px;
    height: 650px;
}

footer {
    font-family: 'Roboto Thin', Arial, sans-serif;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    width: 100%;
    text-align: left;
    bottom: 0pt;
    background-color: #222222;
}

.card {
    color:rgb(160, 160, 160);
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 19px;
    border-radius: 10%;
}
.card button {
    padding: 12px;
    border: 2px solid #dd4a4a;
    color: whitesmoke;
    background-color: #222222;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    outline: 0;
}
  
.card button:hover {
    background: #dd4a4a;
    color: whitesmoke;
}

.weirdbutton a{
    margin-left: 0%;
}

.socialmedias{
    font-size: 30px; 
    margin: 5px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
 
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(92, 87, 87, 0.397);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: 'Roboto', Arial, sans-serif;

    /*Text decoration*/
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgba(245, 245, 245, 0.479);
    text-decoration-thickness: 2px;
    
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(92, 87, 87, 0.397) transparent;
}
.small{
    font-size: 22px;
}
@media screen and (max-width: 1140px) {
    section nav {
        font-family: 'Roboto Thin', Arial, sans-serif;
        font-size: 28px;
        line-height: 36px;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .socialmedias{
        font-size: 30px; 
        margin: 5px;
    }

    li {
        font-size: 28px;
    }

    .features {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -40px;
    }

    .features figure img {
        border-radius: 10%;
        width: 200px;
        height: 200px;
    }    

    figure figcaption {
        font-family: 'Roboto Black';
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 760px) {
    .weirdbutton a{
        margin-right: 10%;
    }

    .features {
        display: block;
    }

    .socialmedias{
        font-size: 24px; 
        margin: 5px;
    }

    li {
        font-size: 24px;
    }

    section header {
        font-size: 42px;
    }

    .games {
        margin-top: 50px;
    }

    .features figure:first-child {
        padding-top: 100px;
    }

    section nav {
        font-size: 16px;
        line-height: 36px;
    }

    footer {
        font-size: 16px;
    }
    header .logo a {
        height: 60px;
	    width: 80px;
        background-size: 70px;
    }

}

@media screen and (max-width: 650px) {
    .weirdbutton a{
        margin-right: 10%;
    }

    .socialmedias{
        font-size: 20px; 
    }

    .tooltip .tooltiptext{
        width: 80px;
        left: 165%;
    }

    .small{
        font-size: 14px;
    }

    .fa-facebook .tooltiptext{
        width: 80px;
        left: 225%;
    }

    .fa-twitter .tooltiptext{
        width: 80px;
        left: 150%;
    }

    li {
        font-size: 20px;
    }

    section nav {
        font-size: 20px;
        line-height: 26px;
    }

    section .mybutton {
        font-size: 18px;
    }

    section .mybutton:hover {
        background: #dd4a4a;
        color: whitesmoke;
        /*font-size: 20px;
        margin-top: 29px;*/
    }
    iframe{
        width: fit-content;
        height: fit-content;
    }
}